.app-footer {
    margin-top: 15px;
    position: relative;
}

.app-footer_info {
    .app-footer_inner {
        position: relative;
        padding: 20px 0;
    }
}

@media (min-width: $col-sm-width) {
    .app-footer {
        margin-top: 30px;
    }
    .app-footer_info {
        .app-footer_inner {
            position: relative;
            padding: 50px 0;
            .app-footer_company {
                float: left;
                .app-footer_brand {
                    margin-bottom: 20px;
                }
                margin-bottom: 0;
            }
            .sec_item {
                .section_title {
                    margin-bottom: 20px;
                }
                .text-a {
                    line-height: 30px;
                }
            }
            .sec_item.company-prod {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 12px;
                transform: translate(-50%, -50%);
            }
            .sec_item.friendly-links {
                float: right;
            }
        }
    }
}

.app-footer_company {
    margin-bottom: 20px;
    .app-footer_brand {
        color: $neutral-color_title;
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: normal;
    }
    .app-footer_contact {
        .contact__item {
            display: block;
            color: #666666;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            span {
                font-weight: 400;
            }
        }
    }
}

.sec_item.company-prod {
    float: left;
    margin-bottom: 20px;
}

.sec_item.friendly-links {
    float: left;
}

.sec_item {
    .section_title {
        display: block;
        font-size: 16px;
        color: $neutral-color_title;
        margin-bottom: 10px;
    }
    .text-a {
        display: block;
        color: #666666;
        font-size: 14px;
        line-height: 22px;
    }
    @media (max-width: $col-sm-width - 1) {
        p {
            display: inline-block;
        }
        font-size: 0;
        .text-a {
            position: relative;
            margin-right: 5px;
            padding-right: 5px;
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -5px;
                width: 1px;
                height: 10px;
                background-color: $neutral-color_divider;
            }
        }
    }
}

.app-footer_bottom {
    width: 100%;
    height: auto;
    padding: 12px 0;
    text-align: center;
    background-color: $neutral-color_background;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    .statement {
        color: #9e9e9e;
    }
    .copyright {
        margin-top: 10px;
        color: #999999;
    }
}
