$header-height: 62px;

.header-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(135deg, #583230 10%, #360940 100%);
    background-image: linear-gradient(180deg, #583230, #333333);
}

.header-top-bg + .head-box {
    @media (min-width: $col-sm-width) {
        background: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .app-header__logo .pic_logo {
            color: #fff;
        }
        .app-header__type > li > a {
            color: #fff;
        }
        .app-header__menu > li > a {
            color: #fff;
        }
        .search {
            .search-input {
                caret-color: rgba(255, 255, 255, 0.6);
            }
            .search-submit {
                color: #fff;
            }
            .search-form {
                .search-input {
                    color: #fff;
                }
            }
        }
    }
}

.app-header {
    @media (min-width: $col-xl-width) {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.head-box {
    position: relative;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.app-header__logo {
    float: left;
    .pic_logo {
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 1px;
        overflow: hidden;
        margin-top: 8px;
        @media (max-width: $col-sm-width - 1px) {
            width: 42px;
            height: 42px;
            margin-top: ($header-height - 42px)/2;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.app-header__type {
    position: relative;
    float: left;
    & > li {
        position: relative;
        float: left;
        margin-left: 25px;
        font-size: 16px;
        color: #333;
        &.active {
            color: $theme-color !important;
        }
        & > a {
            line-height: $header-height;
            &:hover {
                color: $theme-color !important;
            }
        }
        .download-app {
            .icon-mobile {
                font-size: 1.5rem;
                vertical-align: middle;
                margin-top: -0.2rem;
                margin-right: -0.4rem;
            }
        }
        .parsing-movie {
            .icon-play-fill {
                font-size: 1.5rem;
                vertical-align: middle;
                margin-top: -0.2rem;
                margin-right: -0.2rem;
            }
        }
        @media (max-width: $col-md-width - 1px) {
            font-size: 14px;
            margin-left: 15px;
            .download-app {
                color: $theme-color;
            }
        }
    }
    .category-menu {
        left: -74px;
        transform: translateX(0);
        .menu-list {
            padding: 8px 12px;
            border-radius: 2px;
            width: 360px;
            background: #fff;
            box-shadow: 0 0 10px 1px rgba(25, 24, 40, 0.35);
            font-size: 0;
            .menu-item {
                display: inline-block;
                padding: 6px;
                margin: 3px 0;
                a {
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    padding: 8px 20px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #333;
                    font-size: 15px;
                    background: linear-gradient(to right, #eeeeee 0, #f6f6f6 100%);
                    box-shadow: 0 5px 10px rgba(246, 246, 246, 0.25);
                }
                &.active {
                    background: #fff;
                    a {
                        color: #fff;
                        background: linear-gradient(to right, #ff9900 0, #ff9f16 100%);
                        box-shadow: 0 5px 10px rgba(255, 111, 0, 0.25);
                    }
                }
            }
        }
    }
}

.app-header__menu {
    float: right;
    & > li {
        float: left;
        position: relative;
        margin-left: 20px;
        &:nth-of-type(1) {
            margin-left: 0;
        }
        & > a {
            display: block;
            color: #333;
            .iconfont {
                display: inline-block;
                font-size: 24px;
                line-height: $header-height;
            }
        }
    }
    .play-history {
        left: auto;
        right: -10px;
        transform: translateX(0);
        .history-box {
            display: block;
            width: 280px;
            height: 360px;
            overflow: auto;
            padding: 10px 0;
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 0 10px 1px rgba(25, 24, 40, 0.35);
            .ht-movie_list {
                position: relative;
                .video_headline {
                    display: block;
                    position: relative;
                    padding-left: 16px;
                    color: #999;
                    font-size: 14px;
                    &:before {
                        position: absolute;
                        top: 7px;
                        left: 4px;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background-color: #eee;
                        content: "";
                    }
                }
                &:before {
                    position: absolute;
                    top: 15px;
                    bottom: 0;
                    left: 6px;
                    width: 1px;
                    background-color: #eee;
                    content: "";
                }
            }
        }
    }
    .user-center {
        left: -30px;
        @media (min-width: $col-sm-width) {
            left: auto;
            right: -10px;
            transform: translateX(0);
        }
        ul {
            padding: 5px 0;
            border-radius: 2px;
            width: 140px;
            background: #fff;
            box-shadow: 0 0 10px 1px rgba(25, 24, 40, 0.35);
            li {
                font-size: 15px;
                line-height: 1.2;
                text-align: center;
                &:hover {
                    background-color: #f0f0f0;
                }
                .item {
                    position: relative;
                    padding: 10px 20px;
                    display: block;
                    color: $neutral-color_content;
                    &.logout {
                        color: $auxiliary-color_error;
                    }
                }
            }
        }
    }
}

.search {
    .search-form {
        position: relative;
        display: block;
        margin-top: ($header-height - 40px)/2;
        .search-input {
            margin-right: 40px;
            width: 180px;
            height: 40px;
            padding: 8px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 18px rgba(17, 18, 38, 0.1);
            transition: all 0.5s ease-in-out;
            color: #313131;
            font-size: 13px;
            &::placeholder {
                color: #999;
            }
        }
        .search-submit {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 40px;
            text-align: center;
            .iconfont {
                font-size: 24px;
                line-height: 40px;
            }
        }
        @media (max-width: $col-md-width - 1px) {
            .search-input {
                margin-right: 0;
                width: 150px;
            }
        }
    }
    .search-sm {
        display: none;
    }
    @media (max-width: $col-md-width + 110px) {
        .search-xl {
            display: none;
        }
        .search-sm {
            display: block;
        }
    }
}

.category_nav {
    position: relative;
    background: #fff;
    display: none;
    @media (max-width: $col-sm-width - 1px) {
        display: block;
    }
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 15%;
        height: 100%;
        right: 32px;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(-90deg, #fff, hsla(0, 0%, 100%, 0.9) 30%, hsla(0, 0%, 100%, 0));
    }
    .nav-arrow {
        position: absolute;
        z-index: 1;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        top: 50%;
        right: 0;
        margin-top: -15px;
        cursor: pointer;
    }
    .swipe_nav {
        position: relative;
        margin-right: 48px;
        font-size: 0;
        white-space: nowrap;
        overflow-x: scroll;
        .tab-item {
            position: relative;
            display: inline-block;
            padding: 0 15px;
            a {
                display: block;
                max-width: 18vw;
                height: 10.666vw;
                line-height: 10.666vw;
                font-size: 3.8vw;
                color: #505050;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
            }
            &.active {
                a {
                    color: $theme-light;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 7.2vw;
                    height: 0.6vw;
                    border-radius: 0.3vw;
                    margin-left: -3.6vw;
                    background: $theme-light;
                }
            }
        }
    }
}
