html,
body {
    scroll-behavior: smooth;
}

.sidebar {
    position: fixed;
    right: 34px;
    top: 85%;
    transform: translateY(-50%);
    z-index: 200;
    .line {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -50px;
        left: 40%;
        width: 143px;
        height: 56px;
        margin-left: -75px;
        padding-bottom: 8px;
        background: url(/images/line.png) no-repeat 50% / cover;
        box-sizing: border-box;
        color: #583230;
        line-height: 12px;
        font-size: 12px;
        i {
            font-size: 30px;
            line-height: 30px;
        }
        p {
            margin: 4px 0 0 0;
        }
    }
    .imgBtn {
        display: block;
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        background: url(/images/member.png) no-repeat 50% / cover;
        cursor: pointer;
    }
    .btnListBox {
        border-radius: 6px;
        box-shadow: 0 0 20px -12px rgb(0 0 0 / 25%);
        background-color: #fff;
        overflow: hidden;
        .sidebarBtn {
            display: block;
            padding: 0.2rem 0.5rem;
            margin: auto;
            cursor: pointer;
            box-sizing: border-box;
            color: #583230;
            font-size: 0.9rem;
            text-align: center;
            transition: all 0.1s linear;
            text-decoration: none;
            i {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
            .group {
                position: absolute;
                display: none;
                bottom: 1rem;
                right: 110%;
                img {
                    width: 11rem;
                    height: 11rem;
                }
                .triangle {
                    position: absolute;
                    display: flex;
                    top: 38%;
                    right: -17%;
                    width: 0px;
                    height: 0px;
                    border-width: 15px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                }
            }
            &:hover {
                background-color: #f66d9b;
                color: #fff;
            }
        }
        .me:hover {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            .group {
                display: flex;
            }
        }
        .top:hover {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
    @media (max-width: $col-sm-width) {
        top: 94%;
        .btnListBox {
            display: none;
        }
    }
}
