// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #32a6f9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Here's what I've customized 🔽

// media width
$col-xl-width: 1200px;
$col-lg-width: 992px;
$col-md-width: 768px;
$col-sm-width: 576px;
$col-xs-width: 420px;

// Theme color
$theme-color: #ff5c38;
$theme-light: #fe7705;

// Auxiliary color 2db7f5
$auxiliary-color_info: #29b6f6;
$auxiliary-color_success: #19be6b;
$auxiliary-color_warning: #ff9900;
$auxiliary-color_error: #ed4014;

// Neutral colors
$neutral-color_title: #200706;
$neutral-color_subTitle: #808695;
$neutral-color_content: #282828;
$neutral-color_information: #99a2aa;
$neutral-color_border: #dcdee2;
$neutral-color_divider: #e8eaec;
$neutral-color_background: #f8f8f9;
$neutral-color_disabled: #c5c8ce;

// 从breeze复制过来的一些自定义变量
// color
$mainColor: #d96a5f;
$wxGreen: #42c02e;
$theme-light: #fe7705;
$neutral-color_subTitle: #808695;
$wbRed: #e54438;
$qqBlue: #407fcf;
$mainFontColor: #333;
$mainFontColor2: #717171;
$minorFontColor: #969696;
$borderColorLight: #f0f0f0;
$borderColorDark: #c8c8c8;
$linkColor: #2b89ca;
$neutral-color_border: #dcdee2;
$manColor: #285da0;
$womanColor: #ea7767;

$weixin-color: #42c02e;
$weibo-color: #e54438;
$qq-color: #407fcf;
$link-color: #2b89ca;
$sky-blue: #00ccff;
$tint-blue: #869dff;
$blue-violet: #9966ff;
$thin-violet: #bbb6ce;
$soft-pink: #ff9999;
$hot-pink: #ff6666;
$dark-color1: #252525;
$dark-color2: #515151;
$dark-color3: #303036;
$dark-color4: #333;
$gray-color1: #717171;
$gray-color2: #969696;
$gray-color23: #a6a6a6;
$gray-color3: #c4c4c4;
$light-color1: #ececec;
$light-color2: #f0f0f0;
$light-color3: #f7f7f7;
$light-color4: #3c3c3c;
$light-color5: #777;
$theme-skin: #ffffff;

// size
$font-size-slogan: 20px;
$font-size-title: 18px;
$font-size-article: 16px;
$font-size-tip: 15px;
$font-size-info: 14px;
$font-size-abstract: 13px;
$font-size-detail: 12px;
